# This is a basic workflow to help you get started with Actions

name: Docker Image

# Controls when the action will run. 
on:
  # When a release is published
  release:
    types: [published]

  # Push excluding tags and workflow changes
  push:
    branches:
        - main
    tags-ignore:
      - '*.*'
    paths-ignore:
      - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  image_proxy:

    env:
      PLATFORM: linux/amd64,linux/aarch64

    runs-on: ubuntu-latest

    steps:
      - name: Set tags
        run: |
          if [ -z "$TAG" ]; then
            echo "TAG=-t openremote/proxy:develop" >> $GITHUB_ENV
          else
            echo "TAG=-t openremote/proxy:latest -t openremote/proxy:$TAG" >> $GITHUB_ENV
          fi
        env:
          TAG: ${{ github.event.release.tag_name }}

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3
        with:
          platforms: all

      - name: install buildx
        id: buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3
        with:
          version: latest
          install: true

      - name: available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Login to DockerHub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          username: ${{ secrets._TEMP_DOCKERHUB_USER }}
          password: ${{ secrets._TEMP_DOCKERHUB_PASSWORD }}

      - name: build and push images
        run: |
          docker build --build-arg GIT_COMMIT=${{ github.sha }} --push --platform $PLATFORM $TAG .
