# This is a basic workflow to help you get started with Actions

name: build multirach proxy Docker image and push to it dockerhub

# Controls when the action will run. 
on:
  # Manually trigger for a release
  workflow_dispatch:
    inputs:
      tag:
        description: 'What tag should be used for the release.'
        required: true

  # Trigger on push for latest build
  push:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  image_proxy:
  
    env:
      PLATFORM: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6
      TAG: latest
      
    runs-on: ubuntu-latest
    
    steps:
      - name: Set tag
        if: github.event.inputs.tag != ''
        run: echo "TAG=${{ github.event.inputs.tag || env.TAG }}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - name: set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      - name: install buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          install: true
      - name: available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      - name: login to docker hub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USER }}" --password-stdin
      - name: build and push images
        run: |
          docker build --push --platform $PLATFORM -t openremote/proxy:$TAG .
