# This is a basic workflow to help you get started with Actions

name: Docker Image

# Controls when the action will run. 
on:
  # When a release is published
  release:
    types: [published]

  # Push excluding tags and workflow changes
  push:
    branches:
        - main
    tags-ignore:
      - '*.*'
    paths-ignore:
      - '**/*.md'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  image_proxy:
  
    env:
      PLATFORM: linux/amd64,linux/aarch64,linux/arm/v7,linux/arm/v6
      
    runs-on: ubuntu-latest
    
    steps:
      - uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}
      
      - name: Set tags
        run: |
          if [ -z "$TAG" ]; then
            echo "TAG=-t openremote/proxy:develop" >> $GITHUB_ENV
          else
            echo "TAG=-t openremote/proxy:latest -t openremote/proxy:$TAG" >> $GITHUB_ENV
          fi
        env:
          TAG: ${{ github.event.release.tag_name }}
          
      - uses: actions/checkout@v2
      
      - name: set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      
      - name: install buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          install: true
      
      - name: available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
        
      - name: login to docker hub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USER }}" --password-stdin
        
      - name: build and push images
        run: |
          docker build --build-arg GIT_COMMIT=${{ github.sha }} --push --platform $PLATFORM $TAG .
